<!DOCTYPE html>
<% if logged_in? %>
<aside>
  <div class="row">
    <div class="center col-sm-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Value Averaging</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "Create new portfolio", new_value_portfolio_path, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</aside>
<% else %>
  <div class="center jumbotron">
    <h1>Investing Test</h1>

    <h2>
      This is test
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
