<!DOCTYPE html>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= render 'shared/user_info' %>
    </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Investing Test</h1>

    <h2>
      This is test
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
