<p>
  <strong>Initial Investment:</strong>
  <%= @value_portfolio.initial_investment %>
</p>

<p>
  <strong>Investment Increase:</strong>
  <%= @value_portfolio.investment_increase %>
</p>

<p>
  <strong>Share Price:</strong>
  <%= @value_portfolio.share_price %>
</p>
